files:
  "/etc/supervisord.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [supervisord]
      nodaemon=true
      logfile=/var/log/supervisord.log
      pidfile=/tmp/supervisord.pid
      childlogdir=/var/log/

      [include]
      files = /etc/supervisor/conf.d/*.conf

files:
  "/etc/supervisor/conf.d/celery.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [program:celery]
      command=/var/app/venv/*/bin/celery -A celery_app.celery worker --loglevel=INFO
      directory=/var/app/current
      autostart=true
      autorestart=true
      stopasgroup=true
      killasgroup=true
      stdout_logfile=/var/log/celery.log
      stderr_logfile=/var/log/celery.log

container_commands:
  01_start_supervisord:
    command: "/var/app/venv/*/bin/supervisord -c /etc/supervisord.conf"
  02_reload_supervisor:
    command: "/var/app/venv/*/bin/supervisorctl -c /etc/supervisord.conf reread && /var/app/venv/*/bin/supervisorctl -c /etc/supervisord.conf update"
