commands:
  01_install_supervisor:
    command: "/var/app/venv/*/bin/pip install supervisor"

files:
  "/etc/supervisord.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [unix_http_server]
      file=/tmp/supervisor.sock

      [supervisord]
      logfile=/var/log/supervisord.log
      pidfile=/tmp/supervisord.pid

      [rpcinterface:supervisor]
      supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

      [supervisorctl]
      serverurl=unix:///tmp/supervisor.sock

      [program:celery]
      command=/var/app/venv/*/bin/celery -A celery_worker.celery worker --loglevel=info
      directory=/var/app/current
      autostart=true
      autorestart=true
      stdout_logfile=/var/log/celery.out.log
      stderr_logfile=/var/log/celery.err.log

container_commands:
  01_start_supervisord:
    command: "/var/app/venv/*/bin/supervisord -c /etc/supervisord.conf"
  02_update_supervisor:
    command: "/var/app/venv/*/bin/supervisorctl -c /*
