files:
  "/etc/supervisor/conf.d/celery.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [program:celery]
      command=/var/app/venv/*/bin/celery -A factory.celery worker --loglevel=INFO
      directory=/var/app/current
      autostart=true
      autorestart=true
      stopasgroup=true
      killasgroup=true
      stdout_logfile=/var/log/celery.log
      stderr_logfile=/var/log/celery.log

commands:
  01_reload_supervisor:
    command: "supervisorctl reread && supervisorctl update"
