files:
  "/etc/supervisor/conf.d/celery.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [program:celery]
      command=/var/app/venv/*/bin/celery -A celery_worker.celery worker --loglevel=info
      directory=/var/app/current
      autostart=true
      autorestart=true
      stderr_logfile=/var/log/celery.err.log
      stdout_logfile=/var/log/celery.out.log

container_commands:
  01_reload_supervisor:
    command: "supervisorctl reread && supervisorctl update"
